.root {
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    border: 2px solid #222;
    border-radius: 0.5rem;
    background-color: #222;
    color: #fff;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .selected {
    background-color: #fff;
    color: #222;
  }
  span:hover {
    background-color: #fff;
    color: #222;
  }
}
